body { margin: 0; }
#gameContainer { 
    width: 100%; 
    height: 100%; 
    background: blue; 
    display: block; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.row {
    display: block; 
    margin: 0px; 
    height: 20px;
}
.cell { 
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    margin: 0px;
}
.dead {background: black;}
.alive {background: white;}